/* HomePage Component Styles */

.homepage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f5f5f5;
}

.homepage-play-button-wrapper {
  margin-top: 20px;
  margin-bottom: 80px;
}

.homepage-styled-button {
  width: 250px;
  height: 60px;
  font-size: 24px;
  border-radius: 30px;
  transition: transform 0.3s;
}

.homepage-styled-button:hover {
  transform: scale(1.05);
}
